* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.flex {
    display: flex;
}

.section-become-member {
    background: url('images/Winery.png') center/cover;
}

.container {
    width: 1200px;
    margin: auto;
}

.container-become-member { 
    height: 500px;  
    padding: 15px 10px 0 10px;
}

.flex-menu-member {
    flex-wrap: wrap;
    justify-content: space-between;
}

.div-connexion a, .div-connexion span {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.div-desc {
    color: white;
    font-size: 24px;
}

.div-connexion {
    width: 85%;
}

.div-logo {
    width: 15%;
}

.div-btn-become-member .div-desc {
   padding-left: 20px;
   width: 85%;
}

.container-become-member .div-desc .indented-text {
    text-indent: 20px;
}

.div-btn-become-member {
    padding-top: 15px;
    width: 15%;
}

.black-section {
    background-color: black;
} 

.pack-section {
    padding-top:30px;
}

.container-concret {
    padding: 10px 0;
    text-align: center;
    color: rgba(230, 162, 35, 0.689);
    font-style: italic;
}

.div-logo img {
    width: 150px;
}

.btn-become-member {
    color: white;
    padding: 10px;
    border: 1px solid burlywood;
    font-size: 18px;
}

.btn-become-member span {
    color: rgba(230, 162, 35, 0.689);
    font-size: 18px;
    margin-right: 10px;
}

.btn-become-member-pack {
    color: white;
    margin: 30px;
    padding: 20px 0;
    text-align: center;
    line-height: 1.5em;
    border: 1px rgb(250, 227, 185) solid
}

.btn-become-member-pack span {
    color: rgba(230, 162, 35, 0.689);
    font-size: 18px;
    margin-right: 10px;
}

.container-connexion {
    padding-top: 25px;
    height: 60px;
    background-color: black;
}

.container-connexion .div-connexion a, .container-connexion .div-connexion span {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.container-connexion .div-connexion .btn-connexion {
    color: white;
    font-size: 18px;
    padding: 15px;
    margin: 0 0 15px 55px;
    border: 2px solid wheat;
    display: inline-block;
}

.container-products {
    background-color: black;
}

.container-item {
    width: 33%;
}

.container-item div img {
    height: 200px;
}

.flex-products {
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}

.btn-product {
    color: white;
    margin: 10px;
    padding: 20px 0;
    text-align: center;
    line-height: 1.5em;
    border: 1px rgb(250, 227, 185) solid
}

.small-text {
    font-size: 20px;
}

.large-text {
    font-size: 28px;
    padding: 10px 0 0 13px
}

.small-text span {
    color: rgba(230, 162, 35, 0.689);
}

.div-delivery {
    color: orange;
    font-size: 22px;
    text-align: center;
    height: 70px;
}

.product-desc {
    text-align: center;
    color:rgb(184, 169, 141);
    font-size: 20px;
    font-style: italic;
}

ul, li {
    margin: 0;
    padding: 0;
}

nav {
    padding-bottom: 50px;
}

nav ul{
  display: flex;
  justify-content: space-between;
}

nav ul li  {
    background-color: rgb(236, 161, 22);
    padding: 25px 10px;
    width: 100%;
    list-style: none;
    text-align: center;
    color: white;
    font-size: 20px;
}

nav ul li:hover, .active {
    background-color: rgb(149, 113, 46);
}

.container-top-menu {
    background-color: black;
}

.container-top-menu .div-logo img {
   margin-top: 6px;
   width: 50px;
   height: 40px;
}

.flex-top-menu {
    justify-content: space-around;
}

.left-menu ul li, .right-menu ul li {
    display: inline-block;
}

.left-menu ul li a, .right-menu ul li a {
    background-color: rgb(236, 161, 22);
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border: none;
}

.left-menu ul li .active, .left-menu ul li a:hover, .right-menu ul li a:hover {
    background-color: rgb(149, 113, 46);
}

.h3-nos-vins {
    padding-top: 20%;
}

.vigne {
    background: url('images/Vine.png') right/contain no-repeat;
}

.cork {
  background: url('images/Cork.png') left/contain no-repeat;
  justify-content: space-between;
}

.container-img-desc-1 .div-desc,
.container-img-desc-2 .div-desc,
.container-img-desc-3 .div-desc,
.container-img-desc-4 .div-desc   
{
    width: 50%;
}

.container-img-desc-1 .div-desc h3,
.container-img-desc-2 .div-desc h3,
.container-img-desc-3 .div-desc h3,
.container-img-desc-4 .div-desc h3    
{
    font-style: italic;
}

.container-img-desc-1 .div-image img,
.container-img-desc-2 .div-image img,
.container-img-desc-3 .div-image img,
.container-img-desc-4 .div-image img
{
   width: 100%;
}

.div-discover-wines {
   text-align: right;
}

.bottle-img {
   height: 80%;
}

.oil-image {
   padding-left: 40px;
}

.section-amitie-history {
    background: url('images/Bg.png') center/cover;
}

.container-amitie-history {
    padding: 10px 15px;
    color: white;
}

.container-amitie-history h3 {
    font-style: italic;
    padding-left: 20px;
}

.container-amitie-history p {
    font-style: italic;
    padding-left: 20px;
    color:beige;
}

.footer-item img {
    width: 150px;
    height: 40px;
    padding-bottom: 10px;
}

.footer {
    padding: 30px;
    background-color: black;
    justify-content: space-around;
}

.footer-item {
    width: 20%;
    color: beige;
}

.phone {
    text-decoration: none;
    color: white;
}

.email {
    color: rgb(149, 113, 46);
}

.container-prdt-img-desc {
    padding: 5vh 0;
    width: 1200px;
    margin: auto;
    background-color: black;
    justify-content: space-between;
}

.container-prdt-img-desc .div-img {
    padding-left: 10vw;
    width: 50%;
}

.container-prdt-img-desc .div-desc {
    width: 50%;
}

.container-prdt-img-desc img {
    width: 100%;
}

.container-prdt-img-desc .div-desc .title {
    color: rgb(236, 161, 22);
    margin: 0px;
}

.container-prdt-img-desc .div-desc .subtitle {
    color: white;
    font-size: 26px;
}

.flex-inside {
    padding: 0 0 0 20px;
    justify-content: space-between;
    border: 1px solid white;
}

.div-icone-inside {
    width: 30%;
}

.fa-wine-bottle {
    padding: 30px;
    font-size: 40px;
}

.fa-folder-open,
.fa-passport,
.fa-ticket,
.fa-globe,
.fa-calendar-day,
.fa-wine-glass,
.fa-utensils {
    padding: 30px;
    font-size: 40px;
    color: white;
}

.container-prdt-img-desc .div-desc p {
    color: white;
    font-size: 24px;
}

.container-criteria {
    background-color: black;
}

.criteria-item {
    padding: 10px;
    width: 50%;
}

.flex-criteria  {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.container-criteria .criteria-item .flex-inside .div-icone-inside {
    width: 25%;
}

.container-criteria .criteria-item .flex-inside .desc-inside {
    color: white;
    padding: 30px;
}

.container-prdt-img-desc .div-desc .flex-inside {
    border: none;
}

.footer-title {
    font-weight: bold;
    padding-bottom: 10px;
    color: white;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 100%
    }

    .pack-section {
        padding-top: 0px;
    }

    .container-become-member { 
        font-size: 20px;
    }

    .div-connexion {
        width: 75%;
    }

    .container-become-member .div-desc {
        padding-left: 30px;
        width: 70%;
        font-size: 32px;
    }
     
    .div-btn-become-member {
         padding-top: 15px;
         width: 30%;
         font-size: 22px;
    }

    .div-logo {
        width: 25%;
    }

    .div-logo div img {
        width: 180px;
        height: 40px;
    }

    .container-connexion .div-connexion .btn-connexion {
        margin: 0 0 15px 5px;
    }
   
   .container-concret {
       font-size: 22px;
       text-align: justify;
       padding: 15px;
    }
  
    .flex-products {
        flex-direction: column;
    }

    .div-delivery {
        padding: 10px 0 0 0;
    }

    .product-desc {
      padding-bottom: 30px;
    }

    .container-item {
        width: 100%;
        text-align: center;
    }

    .container-img-desc-1,
    .container-img-desc-3
    {
        flex-direction: column;
    }

    .container-img-desc-2,
    .container-img-desc-4
    {
        flex-direction: column-reverse;
    }

    .container-img-desc-1 .div-image img,
    .container-img-desc-2 .div-image img,
    .container-img-desc-3 .div-image img,
    .container-img-desc-4 .div-image img 
    {
       width: 80%;
       height: auto;
       max-height: 600px;
       margin-left: 50px;
    } 

    .container-img-desc-1 .div-desc,
    .container-img-desc-2 .div-desc,
    .container-img-desc-3 .div-desc,
    .container-img-desc-4 .div-desc
    {
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        font-size: 23px;
        padding: 5px;
    }

    .container-img-desc-1 .div-desc p,
    .container-img-desc-2 .div-desc p,
    .container-img-desc-3 .div-desc p,
    .container-img-desc-4 .div-desc p    
    {
       padding: 0 30px;
    }

    .container-prdt-img-desc .div-desc p {
        padding: 0 30px;
    }

    .div-discover-wines {
        text-align: center;
    }

    .container-amitie-history { 
        width: 100%;
    }

    .container-top-menu {
        width: 100%;
    }

    .container-prdt-img-desc {
        width: 100%;
        flex-direction: column;
        padding-right: 20px;
    }

    .container-prdt-img-desc .div-desc {
        padding: 0 40px;
    }

    .container-prdt-img-desc .div-desc .title {
        font-size: 35px;
    }

    .container-prdt-img-desc .div-desc .subtitle {
        font-size: 25px;
    }

    .container-criteria {
        width: 100%;
    }

    .criteria-item {
        width: 50%;
    }

    .flex-top-menu {
        flex-direction: column;
    }

    .left-menu ul li {
        display: block;
        margin-bottom: 40px;
    }

    .right-menu ul li {
        display: block;
        margin-bottom: 40px;
    }

    .footer {
        width: 100%;
    }

    .footer-item img {
        width: 130px;
        height: 45px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 10%0;
    }

    .pack-section {
        padding-top: 0px;
    }

    .container-become-member { 
        font-size: 20px
    }

    .div-connexion {
        width: 70%;
    }

    .container-become-member .div-desc {
        padding-left: 30px;
        width: 70%;
        font-size: 32px;
    }
     
    .div-btn-become-member {
         padding-top: 15px;
         width: 30%;
         font-size: 22px;
    }

    .div-logo {
        width: 30%;
    }

    .div-logo div img {
        width: 180px;
        height: 40px;
    }

    .container-connexion .div-connexion .btn-connexion {
        margin: 0 0 15px 5px;
    }

    .container-concret {
        font-size: 28px;
        padding: 15px;
    }

    .flex-products {
        flex-direction: column;
    }

    .div-delivery {
        padding: 10px 0 0 0;
    }

    .product-desc {
      padding-bottom: 30px;
    }

    .container-item {
        width: 100%;
        text-align: center;
    }

    .container-img-desc-1,
    .container-img-desc-3
    {
        flex-direction: column;
    }

    .container-img-desc-2,
    .container-img-desc-4
    {
        flex-direction: column-reverse;
    }

    .container-img-desc-1 .div-image img,
    .container-img-desc-2 .div-image img,
    .container-img-desc-3 .div-image img,
    .container-img-desc-4 .div-image img 
    {
       width: 80%;
       height: auto;
       max-height: 600px;
       margin-left: 50px;
    } 

    .container-img-desc-1 .div-desc,
    .container-img-desc-2 .div-desc,
    .container-img-desc-3 .div-desc,
    .container-img-desc-4 .div-desc
    {
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        font-size: 23px;
        padding: 5px;
    }

    .container-prdt-img-desc .div-desc p {
        padding: 0 30px;
    }

    .div-discover-wines {
        text-align: center;
    }

    .container-prdt-img-desc {
        width: 100%;
        flex-direction: column;
    }

    .container-prdt-img-desc .div-desc {
        width: 100%;
        padding: 0 40px;
    }

    .container-prdt-img-desc .div-desc .title {
        font-size: 35px;
    }

    .container-prdt-img-desc .div-desc .subtitle {
        font-size: 25px;
    }

    .container-criteria {
        width: 100%;
    }

    .flex-criteria {
        flex-wrap: wrap;
    }

    .criteria-item {
        width: 48%;
    }

    .flex-top-menu {
        flex-direction: column;
    }

    .left-menu ul li {
        display: block;
        margin-bottom: 40px;
    }

    .right-menu ul li {
        display: block;
        margin-bottom: 40px;
    }

    .flex-criteria {
        flex-wrap: wrap;
    }

    .footer {
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }

    .footer-item {
        width: 50%;
        padding-bottom: 20px;
    }

    .footer-item img {
        width: 130px;
        height: 45px;
    }
}

@media screen and (max-width: 414px) {
    .container {
        width: 100%;
    }

    .pack-section {
        padding-top: 0px;
    }

    .container-become-member { 
        font-size: 20px;
        width: 100%;
    }

    .div-connexion {
        width: 65%;
        font-size: 15px;
    }

    .div-connexion-paques {
        width: 75%;
        font-size: 12px;
    }

    .container-become-member .div-desc {
        padding-left: 30px;
        width: 55%;
        font-size: 22px;
    }

    .container-become-member .div-desc .indented-text {
        text-indent: 0px;
    }
     
    .div-btn-become-member {
         padding-top: 15px;
         width: 45%;
         font-size: 22px;
    }

    .div-logo {
        width: 35%;
    }

    .div-logo div img {
        width: 120px;
        height: 26px;
    }

    .container-connexion .div-connexion .btn-connexion {
        margin: 0 0 15px 5px;
    }

    .container-concret {
        font-size: 28px;
        padding: 15px;
    }

    .flex-products {
        flex-direction: column;
    }

    .container-products { 
        width: 100%;
    }

    .div-delivery {
        padding: 10px 0 0 0;
    }

    .product-desc {
      padding-bottom: 30px;
    }

    nav ul {
        flex-direction: column;
    }

    .container-item {
        width: 100%;
        text-align: center;
    }

    .container-img-desc-1,
    .container-img-desc-3
    {
        flex-direction: column;
    }

    .container-img-desc-2,
    .container-img-desc-4
    {
        flex-direction: column-reverse;
    }

    .container-img-desc-1 .div-image img,
    .container-img-desc-2 .div-image img,
    .container-img-desc-3 .div-image img,
    .container-img-desc-4 .div-image img 
    {
       width: 80%;
       height: auto;
       max-height: 600px;
       margin-left: 50px;
    } 

    .container-img-desc-1 .div-desc,
    .container-img-desc-2 .div-desc,
    .container-img-desc-3 .div-desc,
    .container-img-desc-4 .div-desc
    {
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        font-size: 23px;
        padding: 5px;
    }

    .div-discover-wines {
        text-align: center;
    }

    .container-prdt-img-desc .div-desc p {
        padding: 0 30px;
    }

    .container-amitie-history { 
        width: 100%;
    }

    .container-top-menu {
        width: 100%;
    }

    .container-connexion {
        width: 100%;
    }

    .container-prdt-img-desc {
        width: 100%;
        flex-direction: column;
    }

    .container-prdt-img-desc .div-desc {
        width: 100%;
        padding: 0 40px;
    }

    .container-prdt-img-desc .div-desc .title {
        font-size: 35px;
    }

    .container-prdt-img-desc .div-desc .subtitle {
        font-size: 25px;
    }

    .container-criteria {
        width: 100%;
    }

    .criteria-item {
        width: 95%;
    }

    .flex-top-menu {
        flex-direction: column;
    }

    .left-menu ul li {
        display: block;
        margin-bottom: 40px;
    }

    .right-menu ul li {
        display: block;
        margin-bottom: 40px;
    }

    .flex-criteria {
        flex-direction: column;
    }

    .footer {
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }

    .footer-item {
        width: 50%;
        padding-bottom: 20px;
    }

    .footer-item img {
        width: 130px;
        height: 45px;
    }
}
